* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /*chrome edge safare*/
  -moz-osx-font-smoothing: grayscale; /*firefox*/
}

:root {
  font-size: 62.5%;

  --color-base-white:#FFFFFF;
  --color-base-clear:#F4FCFF;
  --color-base-turquoise:#387E96;
  --color-base-dark-turquoise:#065E7C;
  --color-base-font:#121214;
  --color-base-h1:#202024;
}

html, body, input {
  font-family: 'Mulish', sans-serif;
}

#app {
  min-width: 43.0rem;
}

.container {
  margin: 0 auto;
  padding: 1.2rem 2.8rem;
  background-color: var(--color-base-dark-turquoise);
  width: max(100%);
  align-items: center;
}

header, nav {
  display: flex;  /*deixar um do lado do outro*/
  align-items: center;
  gap: 2.55rem;
}

.logo {
  background-color: var(--color-base-clear);
  width: 4rem;
  height: 4rem;
  padding: .8rem; 
}

header form {
  flex: 1;  /*Preenche todo espaço disponivel para ele*/
}

nav ul {
  list-style: none;
  color: var(--color-base-white);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem; /* 16px */
}

.input-wrapper label { /*esconde o placeholder mas se passar mouse por cima consegue ler o campo*/
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input{
  padding: 1.2rem;
  color: var(--color-base-white);
  font-size: 1.6rem;
  font-weight: 600;
  border: 0;
  border-radius: 0.4rem;
  width: 100%;

  background-color: var(--color-base-turquoise);
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
}

.avatar, .logo{
  border-radius: 999px;
  gap: 2.55rem;
}

main h1 {
  color: var(--color-base-h1);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.84rem; /* 38.4px */

  margin-top: 3.1rem;
  margin-bottom: .8rem;
  margin-left: 2.2rem;
}

button {
  background-color: var(--color-base-dark-turquoise);
  width: 4rem;
  height: 4rem;
  padding: 1.2rem; 
  border: none;
  border-radius: 99.9rem;
  margin-bottom: 3.1rem;
  margin-left: 2.2rem;
}

.content p{
  background-color: var(--color-base-white);
  font-size: 1.6rem;
  color: var(--color-base-font);
  font-weight: 400;
  line-height: 2.56rem; /* 25.6px */  
  padding-left: 2.2rem;
  padding-right: 2.6rem;
  margin-bottom: 3.4rem;
}

main img {
  border-radius: .5rem;
  width: 100%;
  object-fit: cover;
}

.sidebar {
  max-width: 43rem;
}

sidebar h1{
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.84rem; /* 38.4px */
  padding-left: 2.2rem;
}

.sidebar, .articles{
  display: flex;
}

.sidebar {
  padding-left: 2.2rem;
  margin-bottom: 3.2rem;
}

.articles {
  display: block;
}

.articles h2 {
  color: var(--color-base-h1);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.88rem; /* 28.8px */
  padding-left: 1.6rem;
}

.articles p {
  color: var(--color-base-font);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.24rem; /* 22.4px */
  padding-left: 1.6rem;
}

.sidebar img {
  display: block;
}

footer p {
  text-align: center;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-base-white);
}

footer {
  height: 6.4rem;
}


@media (min-width: 768px) {
  nav, img {
    max-width: 80.3rem;
  }

  #first {
    margin-top: 4.4rem;
  }

  main {
    width: 1020px;  /*1020*/
    gap: 3.1rem;
    margin-left: 9rem;
    display: flex;
    /*margin: 0 auto;*/
    /*justify-content: center;*/
  }

  .content p {
    max-width: 80.3rem;
  }

}

